@use "functions" as *;
@use "variables" as *;

@mixin vertical-linear-gradient($top-color, $bottom-color, $opacity: 1) {
  background-image: linear-gradient($top-color, $bottom-color);
  opacity: $opacity;
}

@mixin text-style($color, $font-weight, $font-size, $line-height) {
  font-family: 'Plus Jakarta Sans', sans-serif;
  font-style: normal;
  color: $color;
  font-weight: $font-weight;
  font-size: $font-size;
  line-height: $line-height;
}

@mixin button {
  display: inline-block;
  border: none;
  text-decoration: none;
  cursor: pointer;
  border-radius: 50px;
}

@mixin card {
  border-radius: rem(10);
}

@mixin responsive($min-width) {
  @media (min-width: $min-width) {
    @content;
  }
}
