$light-blue: hsl(234, 25%, 52%);
$dark-blue: hsl(233, 54%, 16%);
$gray: hsl(232, 10%, 56%);
$light-gray: hsl(231, 100%, 97%);
$dark-pink: hsl(341, 92%, 62%);
$light-pink: hsl(341, 100%, 83%);
$white: hsl(0, 0%, 100%);
$gradient-pink: hsl(322, 87%, 55%);
$gradient-orange: hsl(13, 100%, 64%);
$gradient-blue: hsl(237, 100%, 64%);

$break-point-tablet: 768px;
$break-point-desktop: 1440px;
